section.repository-list {
    margin: 40px;

    h1 {
        text-align: center;
        letter-spacing: 0.1rem;
        margin-bottom: 16px;
        color: #adbac7;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
    }

    li {
        border-bottom: 1px solid #444c56;
        padding: 24px 0px;
        & + li {
            margin-top: 20px;
        }

        strong {
            color: #3e81dc;
        }

        strong:hover {
            text-decoration: underline;
            cursor: pointer
        }
    }

    p {
        font-size: 14px;
        color: #56656c;
        margin-top: 8px;
    }

    a {
        display: inline-block; /*Display inline que permite mudar altura, margins, etc*/
        margin-top: 16px;
        text-decoration: none;
        color: #fff;
        background: #8357e6;
        font-weight: 400;
        padding: 0.5rem 0.6rem;
        border-radius: 0.5rem;

    }

    a:hover {
        background: #713beb;
        cursor: pointer;
    }
}
